.container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fl{
  width: 200px;
}

.flex1{
  background-color: orange;
  height: 300px;
  /* width: 10px; */
}



.flex2{
  background-color: violet;
  height: 100px;
  align-self: flex-start;
}

.flex3{
  background-color: slateblue;
  height: 100px;
}
.flex4{
  background-color: mediumseagreen;
  height: 300px;
}

.flex5{
  background-color: dodgerblue;
  height: 100px;
}

.flex6{
  background-color: tomato;
  height: 100px;
}

h1{
  text-align: center;
}